html {
  min-height: 100%;
  background: #E5E5E5; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-45deg, #AAA, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-45deg, #AAA, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-45deg, #AAA, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-45deg, #AAA, white); /* Standard syntax */
}

body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  padding: 6rem;
  margin: 0;
}

.land {
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  height: 10rem;
  text-align: center;
}

.description {
  width: 100%;
  height: 10rem;
  text-align: center;
}

.content {
  width: 100%;
  height: 100%;
}

.addContainer {
  width: 20%;
  margin: 0 auto;
  height: 70rem;
  border: 3px dotted grey;
  border-radius: 10px;
}

.icon {
  display: block;
  height: 100%;
}

.addContainer a:hover {
  text-decoration: none;
}

.icon i{
  font-size: 20rem;
  color: grey;
  text-align: center;
  margin-top: 20rem;
  display: block;
}

.addContainer p {
  font-size: 30px;
  text-align: center;
  color: grey;
}

/*Analyzing page*/
.analyze {
  height: 100%;
  width: 100%;
}

.analyze .content {
  display: flex;
  justify-content: center;
}

.leftContent {
  width: 256px;
  margin-right: 5rem;
}

.rightContent {
}

.picture {
  height: 256px;
}

.add {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.iconSmall {
  display: block;
  height: 100%;
}

.iconSmall i {
  font-size: 5rem;
  color: grey;
  text-align: center;
  display: block;
}

.add p {
  font-size: 30px;
  text-align: center;
  color: grey;
  margin-bottom: 0;
}

.add #file-input {
  display: none;
}

.add a {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 10px;
}

.add a:hover {
  text-decoration: none !important;
  background-color: rgba(0, 0, 1, 0.1);
  cursor: pointer;
}

.info {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1rem;
  font-size: 20px;
}


.descriptionContainer {
    width: 100%;
    margin-top: 10rem;
    height: 10rem;
    text-align: center;
}

.descriptionContainer p {
  font-size: 20px;
}

.brain-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.region {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.region > img, .previewText {
  margin-top: 50%;
  transform: translateY(-50%);
}
